# Ignore node_modules directory (Node.js dependencies)
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore temporary files
*.log
*.tmp
*.DS_Store

# Ignore environment variables
.env

# Ignore Python virtual environment directory
venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
